*.exe
*.dll
.DS_Store
*.pyc
*.bak
*.dropbox
*.xlsx
*.old
*.doc
*.mdb
*~
*.py~
*.pptx
.elasticbeanstalk/config
*.ipynb
GA2.tif
.VolumeIcon.icns
.fseventsd
Icon^M^M
.project
.pydevproject
keys_Picloud_S3.py
Thumbs.db
*.pem
env/*
build/*
.idea/*
*.mod
fort.*
*.pid
pisces/idea/*


