<!-- start 01epa_drupal_header.html -->
<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)]><!--> <html class="no-js not-oldie" lang="en" dir="ltr"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta name="MobileOptimized" content="width" />
  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="ImageToolbar" content="false" />
  <meta name="viewport" content="width=device-width" />
  <meta name="version" content="20161218" />
<!--googleon: all-->
  <meta name="DC.description" content="" />
  <meta name="DC.title" content="" />
  <title>{{title}} | Q.E.D. | US EPA</title>
<!--googleoff: snippet-->
  <meta name="keywords" content="" />
  <link rel="shortlink" href="" />
  <link rel="canonical" href="" />
  <meta name="DC.creator" content="" />
  <meta name="DC.language" content="en" />
  <meta name="DC.Subject.epachannel" content="" />
  <meta name="DC.type" content="" />
  <meta name="DC.date.created" content="" />
  <meta name="DC.date.modified" content="" />
<!--googleoff: all-->
  <link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/template2/s.css" media="all" />
  <!--[if lt IE 9]><link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/themes/epa/css/ie.css" media="all" /><![endif]-->
  <link rel="alternate" type="application/atom+xml" title="EPA.gov All Press Releases" href="https://www.epa.gov/newsreleases/search/rss" />
  <link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="https://www.epa.gov/newsreleases/search/rss/field_press_office/headquarters" />
  <link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="https://blog.epa.gov/blog/feed/" />
  <!--[if lt IE 9]><script src="https://www.epa.gov/sites/all/themes/epa/js/html5.js"></script><![endif]-->
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<!-- end 01epa_drupal_header.html -->


<!-- start 02epa_drupal_header_bluestripe.html -->
{#<body class="node-type-(web-area|page|document|webform) (microsite|resource-directory)" >#}
<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-L8ZB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-L8ZB');</script>
<!-- End Google Tag Manager -->

<div class="skip-links"><a href="#main-content" class="skip-link element-invisible element-focusable">Jump to main content</a></div>

<header class="masthead clearfix" role="banner">
    <img class="site-logo" src="https://www.epa.gov/sites/all/themes/epa/logo.png" alt="" />
    <hgroup class="site-name-and-slogan">
      <h1 class="site-name"><a href="https://www.epa.gov/" title="Go to the home page" rel="home"><span>US EPA</span></a></h1>
      <div class="site-slogan">United States Environmental Protection Agency</div>
    </hgroup>

    <form class="epa-search" method="get" action="https://search.epa.gov/epasearch/epasearch">
      <label class="element-hidden" for="search-box">Search</label>
      <input class="form-text" placeholder="Search EPA.gov" name="querytext" id="search-box" value=""/>
      <button class="epa-search-button" id="search-button" type="submit" title="Search">Search</button>
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="typeofsearch" value="epa" />
      <input type="hidden" name="result_template" value="2col.ftl" />
    </form>

</header>
<!-- end 02epa_drupal_header_bluestripe.html -->

<!-- start 03epa_drupal_section_title.html -->
<section id="main-content" class="main-content clearfix" role="main" lang="en">
  <h2 class="microsite-name">EPA science models on the web. Q.E.D.</h2>

    <div id="block-pane-epa-web-area-connect" class="block block-pane  block-pane-epa-web-area-connect">
        <ul class="menu utility-menu"><li class="menu-item"><a
                href="https://www.epa.gov/home/forms/contact-epa" class="menu-link">Contact Us</a></li></ul>
    </div>

    <div class="region-highlighted clearfix">
        <div id="block-ds-extras-web-area-highlighted" class="block block-ds-extras  block-ds-extras-web-area-highlighted">

<!--googleoff: all-->
<!-- leaving the div and section open to contain the main body below -->
<!-- end 03epa_drupal_section_title.html -->


<style>
    #map {
        height: 500px;
        z-index: 0;
    }
    #basemaps-wrapper {
        background: white;
        padding: 10px;
        width: 100%;
	}
    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    {#datatables font size#}
    th {
        font-size: 12px;
    }
    td {
        font-size: 11px;
    }
    {#remove all EPA css transitions for leaflet map#}
    * {
         -o-transition-property: none !important;
         -moz-transition-property: none !important;
         -ms-transition-property: none !important;
         -webkit-transition-property: none !important;
         transition-property: none !important;
    }

</style>

<head>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.1/esri-leaflet.js"></script>

    <!-- jquery -->
{#    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>#}

    <!-- datatables import -->
    <link rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/js/datatables/media/css/jquery.dataTables.min.css">
    <script src="https://www.epa.gov/sites/all/libraries/js/datatables/media/js/jquery.dataTables.min.js"></script>

   <!-- local js -->
    <script src="static/Scripts/huc250k_4326_sp.js"></script>
    <script src="static/Scripts/waterslayer.js"></script>
    <script src="static/Scripts/leafletmap.js"></script>
    <script src="static/Scripts/pisces_datatable.js"></script>
</head>


    <section class="content" style="margin-left: 2.5%; margin-right: 2.5%">
      <!--- white space div-->
      <div class="node node-page clearfix view-mode-full">
{#  <section id="main-content" class="main-content clearfix" role="main" lang="en">#}
{#    <div class="main-column clearfix">#}

      <h1  class="page-title">Pisces Fish Range Map</h1>

      <div class="panel-display panel-1col clearfix" >
        <div class="panel-panel panel-col">
                   <!-- dropdown "select HUC" function -->
<!--                 <script>
                    $(document).ready(function () {
                        $("#selectHUC").on('change', function () {
                            selectHUCs(this.value);
                        });
                    });
                </script> -->

                <!-- "select HUC" dropdown -->
<!--            <div class="col-md-2">
                    <select id="selectHUC">
                        <option value="04030101">04030101</option>
                        <option value="03070101">03070101</option>
                        <option value="03010101">03010101</option>
                        <option value="07140106">07140106</option>
                    </select>
                </div> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.1/esri-leaflet-geocoder.css">
	<script src="https://cdn.jsdelivr.net/leaflet.esri.geocoder/2.1.1/esri-leaflet-geocoder.js"></script>

                <!--- content div -->
                <div class="col-md-10">
                  <div class="box multi news">
                    <div class="pane-content" id="mapDiv">
                      <p><strong>Select a HUC 8 watershed</strong> on the map to view a list of fish species associated with the area.</p>
                        <!-- leaflet map div -->
                        <div id="map"></div>
                        <!-- basemap wrapper -->
						<div id="basemaps-wrapper" class="leaflet-bar">
						  <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
						    <option value="Topographic">Topographic</option>
						    <option value="Streets">Streets</option>
						    <option value="NationalGeographic">National Geographic</option>
						    <option value="Imagery">Imagery</option>
						    <option value="ShadedRelief">Shaded Relief</option>
						  </select>
						</div>
                        <br>
                        <!-- datatables div -->
                        <div>
                        <table id="fish_data_table" width="90%"></table>
                        </div>
                    </div>
                  </div>
                 </div>

                <script>
                // initialize the map
                var map = L.map('map', { renderer: L.svg({ padding: 100 }) }).setView([33.95, -83.38], 8);

                // load a tile layer
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    subdomains: ['a', 'b', 'c']
                }).addTo(map);

                var huc8Layer = L.geoJson(huc8s, {
                    style: hucStyle,
                    onEachFeature: onEachFeature,
{#                    zoomControl:false,#}
{#                    zoomAnimation: false,#}
{#                    markerZoomAnimation: false,#}
{#                    attributionControl:false,#}
                }).addTo(map);


                //map search function
                var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();

                var searchControl = L.esri.Geocoding.geosearch({
                    providers: [
                      arcgisOnline,
                      L.esri.Geocoding.featureLayerProvider({
                          url: 'https://services.arcgis.com/uCXeTVveQzP4IIcx/arcgis/rest/services/gisday/FeatureServer/0/',
                          searchFields: ['Name', 'Organization'],
                          label: 'GIS Day Events',
                          bufferRadius: 5000,
                          formatSuggestion: function(feature){
                              return feature.properties.Name + ' - ' + feature.properties.Organization;
                          }
                      })
                    ]
                }).addTo(map);

                </script>

          </div>
        </div>
      </div>
  </section>








<!-- start 10epa_drupal_footer.html -->

<!-- close the main content section -->
</section>

</section>
  <nav class="nav simple-nav simple-main-nav" role="navigation">
    <div class="nav__inner">
      <h2 class="element-invisible">Main menu</h2>
      <ul class="menu" role="menu">
        <li class="menu-item" id="menu-learn" role="presentation"><a href="https://www.epa.gov/environmental-topics" title="Learn about Environmental Topics that EPA covers." class="menu-link" role="menuitem">Environmental Topics</a></li>
        <li class="menu-item" id="menu-lawsregs" role="presentation"><a href="https://www.epa.gov/laws-regulations" title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws." class="menu-link" role="menuitem">Laws &amp; Regulations</a></li>
        <li class="menu-item" id="menu-about" role="presentation"><a href="https://www.epa.gov/aboutepa" title="Learn more about: our mission and what we do, how we are organized, and our history." class="menu-link" role="menuitem">About EPA</a></li>
      </ul>
    </div>
  </nav>
  <footer class="main-footer clearfix" role="contentinfo">
    <div class="main-footer__inner">
      <div class="region-footer">
        <div class="block block-pane block-pane-epa-global-footer">
          <div class="row cols-3">
            <div class="col size-1of3">
              <div class="col__title">Discover.</div>
              <ul class="menu">
                <li><a href="https://www.epa.gov/accessibility">Accessibility</a></li>
                <li><a href="https://www.epa.gov/aboutepa/administrator-gina-mccarthy">EPA Administrator</a></li>
                <li><a href="https://www.epa.gov/planandbudget">Budget &amp; Performance</a></li>
                <li><a href="https://www.epa.gov/contracts">Contracting</a></li>
                <li><a href="https://www.epa.gov/home/grants-and-other-funding-opportunities">Grants</a></li>
                <li><a href="https://www.epa.gov/ocr/whistleblower-protections-epa-and-how-they-relate-non-disclosure-agreements-signed-epa-employees">No FEAR Act Data</a></li>
                <li><a href="https://www.epa.gov/home/privacy-and-security-notice">Privacy and Security</a></li>
              </ul>
            </div>
            <div class="col size-1of3">
              <div class="col__title">Connect.</div>
              <ul class="menu">
                <li><a href="https://www.data.gov/">Data.gov</a></li>
                <li><a href="https://www.epa.gov/office-inspector-general/about-epas-office-inspector-general">Inspector General</a></li>
                <li><a href="https://www.epa.gov/careers">Jobs</a></li>
                <li><a href="https://www.epa.gov/newsroom">Newsroom</a></li>
                <li><a href="https://www.whitehouse.gov/open">Open Government</a></li>
                <li><a href="http://www.regulations.gov/">Regulations.gov</a></li>
                <li><a href="https://www.epa.gov/newsroom/email-subscriptions">Subscribe</a></li>
                <li><a href="https://www.usa.gov/">USA.gov</a></li>
                <li><a href="https://www.whitehouse.gov/">White House</a></li>
              </ul>
            </div>
            <div class="col size-1of3">
              <div class="col__title">Ask.</div>
              <ul class="menu">
                <li><a href="https://www.epa.gov/home/forms/contact-us">Contact Us</a></li>
                <li><a href="https://www.epa.gov/home/epa-hotlines">Hotlines</a></li>
                <li><a href="https://www.epa.gov/foia">FOIA Requests</a></li>
                <li><a href="https://www.epa.gov/home/frequent-questions-specific-epa-programstopics">Frequent Questions</a></li>
              </ul>
              <div class="col__title">Follow.</div>
              <ul class="social-menu">
                <li><a class="menu-link social-facebook" href="https://www.facebook.com/EPA">Facebook</a></li>
                <li><a class="menu-link social-twitter" href="https://twitter.com/epa">Twitter</a></li>
                <li><a class="menu-link social-youtube" href="https://www.youtube.com/user/USEPAgov">YouTube</a></li>
                <li><a class="menu-link social-flickr" href="https://www.flickr.com/photos/usepagov">Flickr</a></li>
                <li><a class="menu-link social-instagram" href="https://instagram.com/epagov">Instagram</a></li>
              </ul>
              <p class="last-updated">LAST UPDATED ON January, 17 2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
  <script src="https://www.epa.gov/sites/all/libraries/template2/jquery.js"></script>
  <script src="https://www.epa.gov/sites/all/libraries/template2/js.js"></script>
  <script src="https://www.epa.gov/sites/all/modules/custom/epa_core/js/alert.js"></script>
  <!--[if lt IE 9]><script src="https://www.epa.gov/sites/all/themes/epa/js/ie.js"></script><![endif]-->
</html>

{##}
{##}
{#  <nav class="nav simple-nav simple-main-nav" role="navigation">#}
{#    <div class="nav__inner">#}
{#      <h2 class="element-invisible">Main menu</h2>#}
{#      <ul class="menu">#}
{#        <li class="expanded menu-item"><a href="/learn-issues" title="Learn what you can do to protect the environment in your home, workplace, and community." class="menu-link">Learn the Issues</a>#}
{#          <ul class="menu">#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-air" title="" class="menu-link">Air</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-chemicals-and-toxics" title="" class="menu-link">Chemicals and Toxics</a></li>#}
{#            <li class="menu-item"><a href="/climatechange" title="" class="menu-link">Climate Change</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-emergencies" title="" class="menu-link">Emergencies</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-greener-living" title="" class="menu-link">Greener Living</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-health-and-safety" title="" class="menu-link">Health and Safety</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-land-and-cleanup" title="" class="menu-link">Land and Cleanup</a></li>#}
{#            <li class="menu-item"><a href="/safepestcontrol" title="" class="menu-link">Pesticides</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-waste" title="" class="menu-link">Waste</a></li>#}
{#            <li class="menu-item"><a href="/learn-issues/learn-about-water" title="" class="menu-link">Water</a></li>#}
{#          </ul>#}
{#        </li>#}
{##}
{#        <li class="menu-item"><a href="/science-and-technology" title="EPA&#039;s research mission is to conduct leading-edge research and foster the sound use of science and technology to fulfill EPA&#039;s mission to protect human health and safeguard the natural environment." class="menu-link">Science &amp; Technology</a>#}
{#          <ul class="menu">#}
{#            <li class="menu-item"><a href="/science-and-technology/air-science" title="" class="menu-link">Air</a></li>#}
{#            <li class="menu-item"><a href="/climate-change-science" title="" class="menu-link">Climate Change</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/ecosystems-science" title="" class="menu-link">Ecosystems</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/health-science" title="" class="menu-link">Health</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/land-waste-and-cleanup-science" title="" class="menu-link">Land, Waste and Cleanup</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/pesticides-science" title="" class="menu-link">Pesticides</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/substances-and-toxics-science" title="" class="menu-link">Substances and Toxics</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/sustainable-practices-science" title="" class="menu-link">Sustainable Practices</a></li>#}
{#            <li class="menu-item"><a href="/science-and-technology/water-science" title="" class="menu-link">Water</a></li>#}
{#          </ul>#}
{#        </li>#}
{##}
{#        <li class="menu-item"><a href="/laws-regulations" title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws." class="menu-link">Laws &amp; Regulations</a>#}
{#          <ul class="menu">#}
{#            <li class="menu-item"><a href="/regulatory-information-sector" title="" class="menu-link">By Business Sector</a></li>#}
{#            <li class="menu-item"><a href="/regulatory-information-topic" title="" class="menu-link">By Topic</a></li>#}
{#            <li class="menu-item"><a href="/compliance" title="" class="menu-link">Compliance</a></li>#}
{#            <li class="menu-item"><a href="/enforcement" title="" class="menu-link">Enforcement</a></li>#}
{#            <li class="menu-item"><a href="/laws-regulations/laws-and-executive-orders" title="" class="menu-link">Laws and Executive Orders</a></li>#}
{#            <li class="menu-item"><a href="/laws-regulations/policy-guidance" title="" class="menu-link">Policy and Guidance</a></li>#}
{#            <li class="menu-item"><a href="/laws-regulations/regulations" title="" class="menu-link">Regulations</a></li>#}
{#          </ul>#}
{#        </li>#}
{##}
{#        <li class="expanded menu-item"><a href="/aboutepa" title="Learn more about: our mission and what we do, how we are organized, and our history." class="menu-link">About EPA</a>#}
{#          <ul class="menu"><li class="menu-item"><a href="/aboutepa/administrator-gina-mccarthy" title="" class="menu-node-unpublished menu-link">Administrator Gina McCarthy</a></li>#}
{#            <li class="menu-item"><a href="/aboutepa/current-leadership" title="" class="menu-link">Current Leadership</a></li>#}
{#            <li class="menu-item"><a href="/aboutepa/epa-organization-chart" title="" class="menu-link">Organization Chart</a></li>#}
{#            <li class="menu-item"><a href="http://cfpub.epa.gov/locator/index.cfm" title="" class="menu-link">Staff Directory</a></li>#}
{#            <li class="menu-item"><a href="/planandbudget" title="" class="menu-link">Planning, Budget and Results</a></li>#}
{#            <li class="menu-item"><a href="/careers" title="" class="menu-link">Jobs and Internships</a></li>#}
{#            <li class="menu-item"><a href="/aboutepa#pane-2" title="" class="menu-link">Headquarters Offices</a></li>#}
{#            <li class="menu-item"><a href="/aboutepa#pane-4" title="" class="menu-link">Regional Offices</a></li>#}
{#            <li class="menu-item"><a href="/aboutepa#pane-5" title="" class="menu-link">Labs and Research Centers</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>    #}
{#    </div>#}
{#  </nav>#}
{##}
{##}
{#    <footer class="main-footer clearfix" role="contentinfo">#}
{#      <div class="main-footer__inner">  #}
{#        <div class="region-footer">#}
{#          <div id="block-pane-epa-global-footer" class="block block-pane  block-pane-epa-global-footer">#}
{#            <div class="row cols-3">#}
{##}
{#              <div class="col size-1of3">#}
{#                <div class="col__title">Discover.</div>#}
{#                  <ul class="menu">#}
{#                    <li><a href="/accessibility">Accessibility</a></li>#}
{#                    <li><a href="/aboutepa/administrator-gina-mccarthy">Administrator</a></li>#}
{#                    <li><a href="/planandbudget">Budget &amp; Performance</a></li>#}
{#                    <li><a href="/contracts">Contracting</a></li>#}
{#                    <li><a href="/home/grants-and-other-funding-opportunities">Grants</a></li>#}
{#                    <li><a href="/home/privacy-and-security-notice">Privacy and Security</a></li>#}
{#                  </ul>#}
{#              </div>#}
{##}
{#              <div class="col size-1of3">#}
{#                <div class="col__title">Connect.</div>#}
{#                  <ul class="menu">#}
{#                    <li><a href="https://www.data.gov/">Data.gov</a></li>#}
{#                    <li><a href="/office-inspector-general/about-epas-office-inspector-general">Inspector General</a></li>#}
{#                    <li><a href="/careers">Jobs</a></li>#}
{#                    <li><a href="/newsroom">Newsroom</a></li>#}
{#                    <li><a href="https://www.whitehouse.gov/open">Open Government</a></li>#}
{#                    <li><a href="http://www.regulations.gov/">Regulations.gov</a></li>#}
{#                    <li><a href="/newsroom/email-subscriptions">Subscribe</a></li>#}
{#                    <li><a href="https://www.usa.gov/">USA.gov</a></li>#}
{#                    <li><a href="https://www.whitehouse.gov/">White House</a></li>#}
{#                  </ul>#}
{#              </div>#}
{##}
{#              <div class="col size-1of3">#}
{#                <div class="col__title">Ask.</div>#}
{#                  <ul class="menu">#}
{#                    <li><a href="/home/forms/contact-us">Contact Us</a></li>#}
{#                    <li><a href="/home/epa-hotlines">Hotlines</a></li>#}
{#                    <li><a href="/foia">FOIA Requests</a></li>#}
{#                    <li><a href="/home/frequent-questions-specific-epa-programstopics">Frequent Questions</a></li>#}
{#                  </ul>#}
{##}
{#                <div class="col__title">Follow.</div>#}
{#                  <ul class="social-menu">#}
{#                    <li><a class="menu-link social-facebook" href="https://www.facebook.com/EPA">Facebook</a></li>#}
{#                    <li><a class="menu-link social-twitter" href="https://twitter.com/epa">Twitter</a></li>#}
{#                    <li><a class="menu-link social-youtube" href="https://www.youtube.com/user/USEPAgov">YouTube</a></li>#}
{#                    <li><a class="menu-link social-flickr" href="https://www.flickr.com/photos/usepagov">Flickr</a></li>#}
{#                    <li><a class="menu-link social-instagram" href="https://instagram.com/epagov">Instagram</a></li>#}
{#                  </ul>   #}
{#              </div>#}
{##}
{#            </div>  #}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </footer>#}
{##}
{##}
{#  <!--jquery import. leave here to set nav bar at top of page-->#}
{#  <script src="//www2.epa.gov/sites/all/libraries/template/jquery.js"></script>#}
{#  <script src="//www2.epa.gov/sites/all/libraries/template/js.js"></script>#}
{#  <script src="//www2.epa.gov/sites/all/modules/custom/epa_core/js/alert.js"></script>#}
{##}
{##}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_LcFRnnSHVah-Aw_WQ8aVLXhp3HPJvrOe4h6YEXA5BT8.js"></script>#}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_oZD9-WvfiElJ5KPavqu9ZAQiZcfWlzNCzxFHpedR9dI.js"></script>#}
{#    <script type="text/javascript">#}
{#    <!--//--><![CDATA[//><!--#}
{#    document.createElement( "picture" );#}
{#    //--><!]]>#}
{#    </script>#}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_slEmfY49PYt03JJafrjvmxmEfVQE7vqI-454V7NM5ys.js"></script>#}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_cjmkhjdYj9qyv8rH-ylGyD-SIMacZ-dzdqW9m8x_TEc.js"></script>#}
{#    <script type="text/javascript">#}
{#    <!--//--><![CDATA[//><!--#}
{##}
{#          setTimeout(function(){var a=document.createElement("script");#}
{#          var b=document.getElementsByTagName('script')[0];#}
{#          a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0005/9240.js";#}
{#          a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);#}
{#          #}
{#    //--><!]]>#}
{#    </script>#}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_UG00nMwTXcewn_yu8c3s7Bgbxmhbdk0BE1GwQLAuoQU.js"></script>#}
{#    <script type="text/javascript" src="https://webcms.appdev.epa.gov/sites/staging/files/js/js_CaVFOiO3QpcJYEzSDhR3RmEeSnMbgnImgh5uEDkDD_0.js"></script>#}
{#    <script type="text/javascript">#}
{#    <!--//--><![CDATA[//><!--#}
{#    jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"epa","theme_token":"cCE0u8w26ktfPiO9ToX067AbJHWQxdfwhTS2SjUneNU"},"epa_wysiwyg":{"site_default_lang":"en"},"add_definitions":{"path":"sites\/all\/modules\/custom\/add_definitions","dictionary_filter":"1","dictionary_undo":"1","dictionary_occurrences":"1","service_endpoint":"https:\/\/termlookup.epa.gov\/termlookup\/v1\/terms"}});#}
{#    //--><!]]>#}
{#    </script>#}
{#    <!--[if lt IE 9]><script src="/sites/all/themes/epa/js/ie.js"></script><![endif]-->#}
{##}
{##}
{#</body>#}
{#</html>#}